<div class="container">
    <div class="title-box">
        <h1>Pedidos</h1>
    </div>
    <% if (@orders.length > 0) %>
        <span>Exibindo <%= @orders.length %> pedidos</span>
    <% end %>
    <% if (@orders.length == 0) %>
        <span>Nenhum pedido realizado</span>
    <% end %>
    <% @orders.each do |order| %>
        <h3>Pedido N <%= order.id %> feito em <%= order.created_at %></h3>
        <% order.order_items.each do |item| %>
            <div><%= item.quantity %>x <%= item.name %> <%= brl(item.candy_price) %></div>
        <% end %>
        <span><%= brl(order.total) %></span>
    <% end %>
</div>
