<div class="container">
    <h1>Pedidos</h1>
    <% if (@orders.length == 0) %>
        <span class="no-orders">Nenhum pedido realizado</span>
    <% end %>
    <div class="orders-list">
        <% @orders.each do |order| %>
            <div class="card">
                <span class="order-title">Pedido Nº <%= order.id %> feito em <%= friendly_date_time(order.created_at) %></span>
                <div class="order-items">
                    <% order.order_items.each do |item| %>
                        <div class="order-item"><%= item.quantity %>x <%= item.name %> <%= brl(item.quantity * item.candy_price) %></div>
                    <% end %>
                </div>
                <span class="order-total">Total: <%= brl(order.total) %></span>
            </div>
        <% end %>
    </div>
</div>
