<%= stylesheet_link_tag "carts.css" %>
<div class="container">
    <%= toast_message "Item adicionado" if flash[:item_added] == true  %>
    <%= toast_message "Item removido" if flash[:item_removed] == true  %>
    <h1>Carrinho</h1>
    <% if (@cart.price == 0) %> <span class="no-items">Nenhum item adicionado</span> <% end %>
    <% if (@cart.price > 0) %> 
        <div class="card cart-summary">
            <span class="cart-total">Total: <%= brl(@cart.price) %></span> 
            <% if (@cart.items.length > 0) %>
                <form method="POST" action="/orders" >
                    <button class="btn close-cart-btn">Fechar Pedido</button>
                </form>
            <% end %>
        </div>
    <% end %>
    <div class="cart-item-list">
        <% @cart.items.each do |item| %>
            <div class="card cart-item">
                <img class="cart-item-image" src="<%= item.candy.image_url %>" />
                <div class="cart-item-info">
                    <div class="cart-item-title">
                        <span><%= item.candy.name %></span>
                    </div>
                    <p class="cart-item-description"><%= item.candy.description %></p>
                    <div class="cart-item-price">
                        <span><%= item.quantity %>x <%= brl(item.candy.price) %></span>
                    </div>
                    <div class="quantity-box">
                        <form action="/carts/remove" method="POST">
                            <input type="hidden" name="candy_id" value="<%= item.candy.id %>" />
                            <button type="submit" class="quantity-control control-remove">
                                <% if (item.quantity > 1) %>
                                    <i data-feather="minus"></i>
                                <% else %>
                                    <span>Excluir</span>
                                <% end %>
                            </button>
                        </form>
                        <span class="unit-box">
                            <%= item.quantity %> Unid.
                        </span>
                        <form action="/carts/add" method="POST">
                            <input type="hidden" name="candy_id" value="<%= item.candy.id %>" />
                            <button type="submit" class="quantity-control control-add">
                                <i data-feather="plus"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>