<div class="base-container container-product">
    <%= render partial: "flash_toast", locals: {key: :review_feedback} %>
    <form class="product-form" action="/carts/add" method="POST">
        <input type="hidden" name="candy_id" value="<%= @candy.id %>" data-quantity-target="quantity" />
        <div class="card product-info">
            <div class="image-box">
                <img src="<%= @candy.image_url %>" />
            </div>
            <h1 class="product-title"><%= @candy.name %></h1>
            <div class="product-stars">
                <%= render partial: "application/stars-list", locals: { rating_value: @candy.rating } %>
                <span class="rating-value"><%= fixed_number(@candy.rating) %></span>
            </div>
            <p class="product-price"><%= brl(@candy.price) %></p>
            <p class="product-description"><%= @candy.description %></p>
            <div class="product-form-footer">
                <%= render "application/quantity_control" %>
                <button class="btn add-cart-button" data-controller="add-cart-button" data-add-cart-button-has-added-value="<%= flash[:item_added] == true ? 'true' : 'false' %>">
                    <%= flash[:item_added] == true ? 'Adicionado' : 'Adicionar no carrinho' %>
                    <span class="icon" data-add-cart-button-target="icon">
                        <% if flash[:item_added] == true %>
                            <i class="size-18" data-feather="check-circle"></i>
                        <% end %>
                    </span>
                </button>
            </div>
        </div>
    </form>
    <% if is_logged_in? %>
        <form class="card review-form" method="POST" action="/reviews">
            <input name="candy_id" type="hidden" value="<%= @candy.id %>" />
            <div class="review-form-stars-line">
                <div data-controller="stars" class="stars-list">
                    <input data-stars-target="ratingInput" name="rating" type="hidden" max="5" min="1" value="<%= @user_review&.rating || 1 %>" />
                    <% 5.times do |index| %>
                        <div data-star-rating="<%= index + 1 %>" data-action="click->stars#setStar">
                            <i data-feather="star" data-stars-target="starItem" fill="#ffca28" stroke="#ffca28"></i>
                        </div>
                    <% end %>
                </div>
                <button type="submit" class="btn primary"><%= @user_review ? 'Atualizar' : 'Enviar' %></button>
            </div>
            <input name="rating_text" value="<%= @user_review&.rating_text || '' %>" placeholder="O que você tem a dizer do produto? (Opcional)" class="input-small" />
        </form>
    <% end %>
    <% if @reviews.length == 0 %> <div class="no-reviews"><span>Esse produto não possui nenhuma avaliação</span></div> <% end %>
    <% if @reviews.length > 0 %>
        <div class="card reviews">
            <h3 class="title">Avaliações</h3>
            <% @reviews.each_with_index do |review, index| %>
                <% if review.user.id == current_user&.id %>
                    <p class="review-user">
                        Avaliação feita por você em <%= friendly_date_time(review.created_at) %> <% if review.edited? %> (editada) <% end %>
                    </p>
                <% else %>
                    <p class="review-user">
                        <%= review.user.name %> em <%= friendly_date_time(review.created_at) %> <% if review.edited? %> (editada) <% end %>
                    </p>
                <% end %>
                <%= render partial: "application/stars-list", locals: { rating_value: review.rating } %>
                <div class="review-text"><%= review.rating_text %></div>
                <% if index < @reviews.length - 1 %> <hr class="divider" /> <% end %>
            <% end %>
        </div>
    <% end %>
</div>