<div class="base-container container-product">
    <form class="product-form" action="/carts/add" method="POST">
        <input type="hidden" name="candy_id" value="<%= @candy.id %>" data-quantity-target="quantity" />
        <div class="card product-info">
            <div class="image-box">
                <img src="<%= @candy.image_url %>" />
            </div>
            <h1 class="product-title"><%= @candy.name %></h1>
            <p class="product-price"><%= brl(@candy.price) %></p>
            <p class="product-description"><%= @candy.description %></p>
            <div class="product-form-footer">
                <%= render "application/quantity_control" %>
                <button class="btn add-cart-button" data-controller="add-cart-button" data-add-cart-button-has-added-value="<%= flash[:item_added] == true ? 'true' : 'false' %>">
                    <%= flash[:item_added] == true ? 'Adicionado' : 'Adicionar no carrinho' %>
                    <span class="icon" data-add-cart-button-target="icon">
                        <% if flash[:item_added] == true %>
                            <i class="size-18" data-feather="check-circle"></i>
                        <% end %>
                    </span>
                </button>
            </div>
        </div>
    </form>
</div>