<!DOCTYPE html>
<html>
  <head>
    <title>Cupcake Boulevard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "components.css" %> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;500;700;900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/feather-icons"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
  </head>

  <body>
    <% unless (@cart.nil?) %>
      <div class="nav-bar">
        <div class="nav-bar-row">
          <a href="/" class="logo">
            <h1>Cupcakes Boulevard</h1>
          </a>
          <div class="nav-right">
            <div class="nav-account-info">
              <a href="/carrinho" class="cart-box">
                <div class="cart-size"><%= @cart.size %></div>
                <i data-feather="shopping-cart"></i>
              </a>
              <span class="nav-item"><%= "Olá, #{current_user.name}!" if is_logged_in? %></span>
              <% if is_anonymous? %>
                <a href="/entrar" class="nav-item enter-item">Entrar</a>
                <span class="nav-separator">|</span>
                <a href="/criar_conta" class="nav-item">Criar conta</a>
              <% end %>
            </div>
            
            <% if is_logged_in? %>
              <div class="logged-infos">
                <a href="/pedidos" class="nav-item logged-item">Pedidos</a>
                <form method="POST" action="/logout" id="form-logout" id="logout-form">
                </form>
                <button form="form-logout" class="nav-item logged-item" type="submit" >Sair</button>
              </div>
            <% end %>
          </div>
        </div>
        <form method="POST" action="/search" class="search-form">
          <input placeholder="Pesquisa..." class="input-small" name="term" />
        </form>
      </div>
    <% end %>
    <%= yield %>
  </body>
  <script>
    feather.replace();
  </script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script> 
  <%= javascript_include_tag 'flash_toast.js' %>
</html>
