<!DOCTYPE html>
<html>
  <head>
    <title>BrigadeiroLivre</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div>
      <%= is_anonymous? ? 'Anônimo' : current_user.name %>
      <% if is_logged_in? %>
        <form method="POST" action="/logout">
          <button type="submit">Logout</button>
        </form>
      <% end %>
      <% if is_anonymous? %>
        <a href="/entrar">Entrar</a>
      <% end %>
      <% if is_anonymous? %>
        <a href="/criar_conta">Criar conta</a>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
